
    <div class="card__navigation">
        <a data-ng-href="#/{{ car.topic.slug }}/{{ car.setPrevCard($index) }}" data-ng-if="!$first" class="pull-left card__navigation__arrow"><span class="glyphicon glyphicon-menu-left"></span></a>
        <a data-ng-href="#/{{ car.topic.slug }}/{{ car.setNextCard($index) }}" data-ng-if="!$last" class="pull-right card__navigation__arrow"><span class="glyphicon glyphicon-menu-right"></span></a>
        Card {{ car.cards.indexOf(card) + 1 }} of {{ car.topic.count }}
    </div>
    <div class="card__content">
        <h2 class="card__title">{{ card.title }}</h2>
        <small class="card__author">By: <a data-ng-href="{{card.author.URL }}">{{ card.author.name }}</a></small>
        <p data-ng-bind-html="card.content"></p>
    </div>
    <div class="card__socialshare">
        Share this card:
          <a href="" class="card__socialshare--icon" socialshare socialshare-provider="facebook" socialshare-text="{{ card.title }} Find out the answer: " socialshare-url="{{ car.url }}"><i class="fi-social-facebook"></i></a>
          <a href="" class="card__socialshare--icon" socialshare socialshare-provider="twitter" socialshare-text="{{ card.title }}" socialshare-url="{{ car.url }}"><i class="fi-social-twitter"></i></a>
    </div>
