<div err data-ng-if="car.err"></div>

<a class="cards__exit" href="#/"><span class="glyphicon glyphicon-chevron-left"></span> Back to Topics</a>

<div class="row">
    <div class="col-xs-12">
        <h1 class="cards__title">{{ car.topic.name }}</h1>
    </div>
</div>

<div class="row">
    <div cards-list-menu class="col-xs-12 visible-xs-block visible-sm-block" data-ng-if="car.selectedCard">
    </div>
    <ul class="col-xs-12 cards-list" data-ng-class="{'col-md-4' : car.selectedCard, 'cards-list--active': !car.selectedCard}">
        <p class="cards__description">{{ car.topic.description }}</p>
        <li data-ng-repeat="card in car.cards" class="cards-list__item" cards-list></li>
    </ul>

    <div class="col-xs-12 col-md-8 pull-left">
        <div class="card" data-ng-repeat="card in car.cards" data-ng-class="card.position" ng-show="card.isSelected" card>
        </div>
    </div>
</div>
<div loading data-ng-if="!car.loaded"></div>
