.topic {
  &:hover, &:active {
    text-decoration: none;
  }

  &__container {
    height: 8em;
    margin-top: 0.9em;
    padding: 0.5em;
    position: relative;
    background-color: #F3F3F3;
    border: 1px solid #EEE;
    cursor: pointer;
    box-shadow: 0.2em 0.2em 0 #DDD;
  }

  &__title {
    margin: 0;
    color: $f-color;
  }

  &__counter {
    padding: 0.4em 0.6em;
    position: absolute;
    bottom: 0;
    right: 0.5em;
    font-size: 0.8em;
    background-color: $c-teal;
    border-radius: 0.2em 0.2em 0 0;
    color: #FFF;
  }
}
