body {
  font-family: $f-base;
  font-size: $f-size;
  line-height: $f-height;
  color: $f-color;
}
h1,
h2,
h3,
h4,
h5,
h6, {
  font-family: $f-header;
}

a {
  color: $c-teal;

  &:hover, &:active {
    color: darken($c-teal, 8%);
  }
}
